* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  color: #ededed;
}

/* HEADER/NAV */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  /* color: #fff; */
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover {
  color: aqua;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  /* background: url(/images/68E54A07-6039-43B7-ACF0-424B6C7CDA72.jpeg) no-repeat; */
  /* background-size: cover;
  background-position: center; */
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.img {
  box-sizing: border-box;
  border-radius: 50%;
  width: 60vh;
  height: 60vh;

  padding: 50px;
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
}

.img:hover {
  transform: scale(1.5);
}

.home-content {
  color: rgb(84, 83, 83);
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
}

.home-content h3:nth-of-type(2)
{
    margin-bottom: 30px;
}

.home-content h3 span
{
    color: aqua;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
}

.home-content p {
  font-size: 20px;
}

/* SOCIAL MEDIA */
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid aqua;
  border-radius: 50%;
  font-size: 20px;
  color: aqua;
  text-decoration: none;
  margin: 30px 15px 30px 0;
}

.home-sci a:hover {
  background: aqua;
  color: black;
  box-shadow: 0 0 20px aqua;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: aqua;
  border-radius: 40px;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
}

.btn-box:hover {
  box-shadow: 0 0 spx cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

@keyframes slideRight
{
    0% {
        transform: translate(-100px);
        opacity: 0;
    }
    100% {
        transform: translate(0px);
        opacity: 1;
    }
}
